In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
#1.과거의 데이터 준비
boston = pd.read_csv('https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv')
boston.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [3]:
독립 = boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
            'ptratio', 'b', 'lstat']]
종속 = boston[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [4]:
# # 2. 모델의 구조를 만듭니다
# X = tf.keras.layers.Input(shape=[13])
# H = tf.keras.layers.Dense(10, activation = "swish")(X)
# Y = tf.keras.layers.Dense(1)(H)
# model = tf.keras.models.Model(X, Y)
# model.compile(loss='mse')

In [5]:
# 2. 모델의 구조를 BatchNormalization layer를 사용하여 만든다.
X = tf.keras.layers.Input(shape=[13])
 
H = tf.keras.layers.Dense(8)(X)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)
 
H = tf.keras.layers.Dense(8)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)
 
H = tf.keras.layers.Dense(8)(H)
H = tf.keras.layers.BatchNormalization()(H)
H = tf.keras.layers.Activation('swish')(H)
 
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [6]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense (Dense)                (None, 8)                 112
_________________________________________________________________
batch_normalization (BatchNo (None, 8)                 32
_________________________________________________________________
activation (Activation)      (None, 8)                 0
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 72
_________________________________________________________________
batch_normalization_1 (Batch (None, 8)                 32
_________________________________________________________________
activation_1 (Activation)    (None, 8)                 0
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 72
_________________________________________________________________
batch_normalization_2 (Batch (None, 8)                 32
_________________________________________________________________
activation_2 (Activation)    (None, 8)                 0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 9
=================================================================
Total params: 361
Trainable params: 313
Non-trainable params: 48
_________________________________________________________________

In [7]:
# 3.데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 10.7655
Epoch 2/10
16/16 [==============================] - 0s 2ms/step - loss: 9.2557
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 10.8794
Epoch 4/10
16/16 [==============================] - 0s 2ms/step - loss: 10.5377
Epoch 5/10
16/16 [==============================] - 0s 3ms/step - loss: 10.6377
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 11.8187
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 11.4091
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 11.1712
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 9.3703
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 10.4956

In [ ]:
# 4. 모델을 이용합니다
print(model.predict(독립[5:10]))
# 종속변수 확인
print(종속[5:10])
 
###########################
# 모델의 수식 확인
print(model.get_weights())

[[26.477663]
 [21.72028 ]
 [18.73232 ]
 [10.187046]
 [18.318687]]
   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9
[array([[-0.08645695],
       [ 0.06709413],
       [-0.04471783],
       [ 3.2159445 ],
       [ 1.3706361 ],
       [ 4.2032895 ],
       [ 0.01429282],
       [-0.84810627],
       [ 0.16011187],
       [-0.00873139],
       [-0.07780587],
       [ 0.01615875],
       [-0.5606407 ]], dtype=float32), array([2.6906817], dtype=float32)]